In [3]:
import pandas as pd

In [4]:
s = pd.Series([1, 2, 3, 4, 5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
s.name = "My Numbers"
s.index = ['a', 'b', 'c', 'd', 'e']
s

a    1
b    2
c    3
d    4
e    5
Name: My Numbers, dtype: int64

In [12]:
# indexing
s[0]

/tmp/ipython-input-2800312474.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[0]

np.int64(1)

In [13]:
s[1:5] #start(inclusive):end(exclusive)

b    2
c    3
d    4
e    5
Name: My Numbers, dtype: int64

In [17]:
#iloc - location based indexing
s.iloc[1]

np.int64(2)

In [ ]:
# multiple values through iloc
s.iloc[[1,3,4]]

b    2
d    4
e    5
Name: My Numbers, dtype: int64

In [ ]:
calories = pd.Series([420, 380, 390, 500, 600, 235], index=['apple', 'banana', 'orange', 'mango', 'kiwi', 'pine apple'], name='Calories')
calories

apple         420
banana        380
orange        390
mango         500
kiwi          600
pine apple    235
Name: Calories, dtype: int64

In [ ]:
calories['apple']